BOT_TOKEN=            # токен от @BotFather
SPREADSHEET_ID=       # ID из URL таблицы: docs.google.com/spreadsheets/d/<ЭТО>/edit
ADMIN_IDS=            # tg_id админов через запятую, узнать у @userinfobot
GOOGLE_CREDENTIALS_PATH=credentials.json
